body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

input {
    padding: 8px;
    margin-right: 5px;
}

button {
    padding: 8px;
    cursor: pointer;
    background: palegreen;
}

#weatherInfo {
    margin-top: 20px;
}
