body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
}

input {
    padding: 8px;
}

button {
    padding: 8px;
    cursor: pointer;
    background: #5ac8a6;
    font-weight: bold;
}

ul {
    padding: 0;
}

li {
    width: 240px;
    list-style-type: none;
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li span {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: #888;
}